
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Space+Mono:wght@400;700&display=swap');

body {
    background-color: #222222 !important;
}


p, li {
    color: #c7e2d9;
    font-family: "Space Mono", monospace !important;
    font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
}

h1, h2 {
    color:#ffb1f4 !important;
    font-family: "Cabin Sketch", sans-serif !important;
        -webkit-font-smoothing: antialiased;
}

.underline {
    text-decoration: underline;
}

.example {
                    /*color: #8062af;*/
    color: #9161dd;
}

.emphasis {
    color:  #ffcba0;
}

.ipa {
    color: #e7a5ff;
}

strong {
/*color:  #ffcba0;*/
    color:  #ffcba0 !important;
}

em {
    color: #8062af;
/*color: #7860a0;*/ 
/* color: #725e93; */
}
